@import 'reset.css';

body {
    background-image: url(img/background.png);
    background-size: 20%;
    color: white;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
}
/* NavBar */
#navbar {
    width: 100%;
    padding: 16px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 99;
    transition: all 0.3s ease-in-out;
}

#navbar.navbar__dark {
    background-color: black;
    padding: 5px;
}

.navbar__logo {
    position: relative;
    margin-left: 1px;
    display: flex;
    align-items: center;
}

.navbar__logo:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.navbar__logo img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.navbar__logo h1 {
    color: orange;
    font-size: 32px;
    letter-spacing: 1.5px;
    margin-left: 5px;
    cursor: pointer;
}

.navbar__menu {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.navbar__menu__item {
    padding: 10px 0px;
    margin: 0px 10px;
    margin-right: 30px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}

.navbar__menu__item:hover {
    border-bottom: 2px solid white;
    transition: 300ms;
    transform: scale(1.1);
}

.navbar__toggle-btn {
    position: absolute;
    top: 32px;
    right: 16px;
    font-size: 2em;
    margin-right: 10px;
    display: none;
}

.navbar__toggle-btn:hover {
    transition: 300ms;
    transform: scale(1.1);
}

/* Home */
#home {
    position: relative;
    display: flex;
    overflow: hidden;
    text-align: center;
    flex-direction: column;
}

.home__img {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 130px;
    border-radius: 50%;
    border: 2px solid white;
}

.home__title {
    margin-top: 50px;
    font-size: 4rem;
    margin-bottom: 30px;
}

.home__discription {
    font-size: 2rem;
    line-height: 100px;
}

.home__title__dale {
    color: orange;
}

.section {
    padding: 50px;
    text-align: center;
    max-width: 1200px;
    font-size: 1rem;
    margin: auto;
    align-items: center;
    width: 80%;
}

.section h1 {
    font-size: 3rem;
    width: 0%;
    padding-top: 100px;
    color: orange;
}
/* About */
.about {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.about__title {
    font-size: 2rem;
    width: 0%;
}

.about__left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.about__right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.about__description {
    margin-top: 20px;
    line-height: 40px;
    width: 0%;
    font-size: 1rem;
}

.about ul {
    margin-bottom: 50px;
}
/* Skills */
.skillset {
    display: flex;
    background-color: rgb(129, 129, 129);
    border-radius: 10px;
    margin-top: 70px;
}

.skillset__left {
    flex-basis: 60%;
    background-color: rgb(58, 58, 58);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.skillset__title {
    font-size: 2rem;
    padding-top: 20px;
}

.skill__description {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.skill {
    margin-bottom: 16px;
    padding: 0 40px;
}

.skill_bar {
    width: 100%;
    height: 3px;
    background-color: rgb(87, 86, 86);
}

.skill__value {
    height: 3px;
    background-color: orange;
}

.skillset__right {
    flex-basis: 40%;
}

.tools {
    background-color: rgb(87, 86, 86);
    border-top-right-radius: 10px;
}

.tools,
.etc {
    padding: 20px;
}

.tools__list,
.Etc__list {
    padding: 10px;
    line-height: 43px;
}
/* Project */
.projects {
    align-items: center;
    padding-bottom: 100px;
    padding-top: 160px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 66%;
}

.project__img {
    width: 66%;
    height: 44%;
    display: block;
    opacity: 1;
    position: relative;
    display: none;
    transition: all 0.3s ease-out;
}

.project__img.project__visible {
    display: block;
}

.project__img.first.project__invisible {
    display: none;
}

.project__img.first {
    display: block;
}

.project__img.anime-out {
    transform: scale(0.95) translateX(15%);
    opacity: 0;
}

.project__img.anime-in {
    transform: scale(0.95) translateX(-15%);
    opacity: 0;
}

.project__img img {
    width: 100%;
    height: 100%;
}

.project__leftBtn {
    margin: auto;
    font-size: 3rem;
}
.project__rightBtn {
    margin: auto;
    font-size: 3rem;
}

.project__leftBtn:hover,
.project__rightBtn:hover {
    transform: scale(1.1);
    color: orange;
}

.project__description {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 30px;
    line-height: 30px;
    font-weight: 500;
    opacity: 0;
    top: 20px;
}

.project__description h2 {
    font-size: 1.5em;
    padding: 10px;
}

.project__img:hover .project__description {
    opacity: 0.8;
    top: 0px;
    transition: all 0.3s ease-in-out;
}
/* contact */
.contactMe {
    display: flex;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 100px;
}

.contact__send-message {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 50%;
}

.contact__text-box {
    width: 100%;
    margin: 5px 0px;
}

.contact__sendBtn {
    border: 2px solid white;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
}

.contact__git i:hover,
.contact__mail i:hover {
    color: orange;
    transition: all 0.3s ease-in-out;
}

.contact__sendBtn:hover {
    border-color: orange;
    color: orange;
    transition: all 0.3s ease-in-out;
}
/* footer */
.footer {
    margin-top: 130px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 50px;
    border-top: 2px solid lightgrey;
    color: lightgrey;
}
/* Arrow up */
.arrow-up {
    position: fixed;
    font-size: 2.5em;
    background-color: orange;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    bottom: -100px;
    right: 20px;
    transition: all 0.3s ease-in-out;
}

.arrow-up.arrow-up__visible {
    bottom: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .section {
        padding: 16px;
        margin: auto;
        width: 100%;
    }
    .navbar__toggle-btn {
        display: block;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        overflow: visible;
    }

    .navbar__menu {
        flex-direction: column;
        padding-left: 85%;
        width: 100px;
        background-color: transparent;
        visibility: hidden;
        transition: all 0.3ms ease-in;
        height: 0vh;
    }

    .navbar__bg {
        width: 100%;
        height: 80px;
        background-color: black;
        position: fixed;
        z-index: 1;
        transition: all 0.3s ease-in;
    }

    #navbar.navbar__dark {
        background-color: transparent;
    }

    #navbar.navbar__dark .navbar__toggle-btn {
        padding: 5px;
        transition: 0.3s;
        top: 16px;
    }

    .navbar__menu.show {
        visibility: visible;
        height: 30vh;
    }

    .navbar__menu__item:hover {
        border: none;
    }

    .home__img {
        width: 200px;
        height: 200px;
    }

    .home__title {
        font-size: 3em;
    }

    .home__discription {
        font-size: 1.8em;
        line-height: 80px;
    }

    .about {
        flex-direction: column;
    }

    .skillset {
        flex-direction: column;
    }

    .skillset__left {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .tools {
        border-top-right-radius: 0;
    }

    .project__animation {
        padding-top: 70px;
    }

    .project__img {
        flex-grow: 1;
        padding: 20px;
    }

    .contactMe {
        flex-direction: column;
    }

    .contact {
        margin-top: 50px;
        line-height: 70px;
        font-size: 1.5em;
    }

    .contact__send-message {
        width: 100%;
        margin-top: 20px;
    }

    .contact__sendBtn {
        margin-top: 20px;
    }
}
